<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contact Page</title>
</head>

<body>
    <a href="/">Home page</a>
    <h1>Contact Me , Yo!</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellat odio laborum quaerat iure est voluptates quod
        in, excepturi architecto, vero ipsa voluptatem eaque officia cum, reprehenderit accusantium quidem saepe.
    </p>
</body>
</html>