<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home Page</title>
</head>

<body>
    <h1>sup</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nostrum neque veniam numquam quas! Ipsam,
        officia, placeat deserunt quos facilis voluptate sapiente nesciunt nisi, corporis qui inventore sit odio earum.
    </p>
</body>

</html>